<!DOCTYPE html>
<html>
    {% load static %}
    {% load leaflet_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <title>Bla Blub</title>
        <style type="text/css">
        #gis {width: 80%; height: 700px;}</style>
        <script type="text/javascript" src="{% static 'leaflet.ajax.js' %}"></script>
    </head>
    <body>
        <h1>Hello Geo-World</h1>
        <br>
        <script type="text/javascript">
        function our_layers(map, options){
            var datasets = new L.GeoJSON.AJAX("{% url 'reporter:world_data' %}",{
                onEachFeature: function(feature, layer){
                    layer.bindPopup(feature.properties.name.toString())
                }
            });
            datasets.addTo(map)
            var points = new L.GeoJSON.AJAX("{% url 'reporter:incidence_data' %}",{
                onEachFeature: function(feature, layer){
                    layer.bindPopup(feature.properties.name.toString())
                }
            });
            points.addTo(map)
        }
        </script>
        {% leaflet_map "gis" callback="window.our_layers" %}
    </body>
</html>